// Navigation
nav#mainNav.navbar.navbar-expand-lg.navbar-dark.bg-default.fixed-top(style="")
    a.navbar-brand(href='index.html') FINA Business Analytics
    button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
    #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
            li.nav-item(data-toggle='tooltip', data-placement='right', title='Contact')
                a.nav-link(href='contact.html')
                    i.fa.fa-fw.fa-phone
                    span.nav-link-text
                        | &nbsp;Contact
