// Navigation
nav#mainNav.navbar.navbar-expand-lg.navbar-dark.bg-default.fixed-top(style="")
    a.navbar-brand(href='index.html') FINA Business Analytics
    button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
    #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
            li.nav-item(data-toggle='tooltip', data-placement='right', title='About Us')
                a.nav-link(href='about.html')
                    i.fa.fa-fw.fa-info
                    span.nav-link-text
                        | &nbsp;About Us
            li.nav-item(data-toggle='tooltip', data-placement='right', title='Services')
                a.nav-link(href='index.html')
                    i.fa.fa-fw.fa-cog
                    span.nav-link-text
                        | &nbsp; Services
            li.nav-item(data-toggle='tooltip', data-placement='right', title='Documentation')
                a.nav-link(href='documentation.html')
                    i.fa.fa-fw.fa-book
                    span.nav-link-text
                        | &nbsp; Documentation
            li.nav-item
                a.nav-link(data-toggle='modal', data-target='#exampleModal')
                    i.fa.fa-fw.fa-comment-o
                    | &nbsp; support
