doctype html
html(lang='en')

    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title FINA BI

        include includes/css/core.pug

        include includes/css/custom.pug

    body
        include includes/navbar.pug

        .container.pt-5.mt-5
            .row
                .col-12
                    div In response to the need for better bank supervision systems a state-of-the-art information management system was developed for Bank Supervision Authorities called FINA. FINA is the system to collect data from banks, store them in the data base and generate different reports using very flexible report designer tools. The advances of the FINA are:
                    ul.pt-2
                        li FINA is fully customizable and localizable system at user level; it is independent of any legal, regulatory, or accounting framework. Changes in input/output forms does not require additional programming and can be implemented into system very quickly with any staff who knows spreadsheet functions.
                        li FINA is platform independent and works on Windows, Linux, AIX and Solaris.
                        li FINA is database independent.
                        li FINA is 3 tire java application and this makes it scalable and extendable.
                        li System has very low software/hardware requirements. It works on any Computer (IBM or MAC compatible) higher than Pentium 2/200MH, on any OS supporting Java Virtual Machine (Windows, UNIX, etc.) and on any IP based network.
                        li FINA is open source under the GNU/GPL license. All components used in the system are free and does not require license fees.
                        li Main outputs from FINA system are : UBPR (Uniform Bank Performance report), CAEL/CAMEL, Early Warning Systems, Trends/Time Series.
                        li FINA is implemented and tested in 4 Central / National banks in the countries of Georgia, Kyrgyzstan, Tajikistan and Azerbaijan. Currently being implemented in San Marino.


        footer(style="position:absolute; bottom:0; width:100%")
            .container
                .text-center
                    small Copyright © FINA LLC 2018

        include includes/modals/logout.pug

        include includes/js/core.pug

        include includes/js/custom.pug