doctype html
html(lang='en')

    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title FINA BI

        include includes/css/core.pug

        include includes/css/custom.pug

    body
        include includes/navbar.pug

        .container.pt-5.mt-5
            .row
                .col-lg-3.col-md-4.col-sm-6.padding-top.text-center
                    .hvrbox.client-padding
                        img(src='assets/img/tmp/NBG.jpg', alt='Mountains').hvrbox-layer_bottom.img-size
                        .hvrbox-layer_top.hvrbox-layer_slideup
                            .hvrbox-text
                                p FinA @ National Bank of Georgia
                                p 2017-2018
                .col-lg-3.col-md-4.col-sm-6.padding-top.text-center
                    .hvrbox.client-padding
                        img(src='assets/img/tmp/Kosovo.jpg', alt='Mountains').hvrbox-layer_bottom.img-size
                        .hvrbox-layer_top.hvrbox-layer_slideup
                            .hvrbox-text
                                p FinA @ Central Bank of Kosovo
                                p 2015-2016
                .col-lg-3.col-md-4.col-sm-6.padding-top.text-center
                    .hvrbox.client-padding
                        img(src='assets/img/tmp/Lesotho.jpg', alt='Mountains').hvrbox-layer_bottom.img-size
                        .hvrbox-layer_top.hvrbox-layer_slideup
                            .hvrbox-text
                                p FinA @ Central Bank of Lesotho
                                p 2015-2016
                .col-lg-3.col-md-4.col-sm-6.padding-top.text-center
                    .hvrbox.client-padding
                        img(src='assets/img/tmp/CBN.jpg', alt='Mountains').hvrbox-layer_bottom.img-size
                        .hvrbox-layer_top.hvrbox-layer_slideup
                            .hvrbox-text
                                p FinA @ Central Bank of Nigeria
                                p 2013-2016
                .col-lg-3.col-md-4.col-sm-6.padding-top.text-center
                    .hvrbox.client-padding
                        img(src='assets/img/tmp/BOM.jpg', alt='Mountains').hvrbox-layer_bottom.img-size
                        .hvrbox-layer_top.hvrbox-layer_slideup
                            .hvrbox-text
                                p FinA @ Bank of Mongolia
                                p 2014-2014
                .col-lg-3.col-md-4.col-sm-6.padding-top.text-center
                    .hvrbox.client-padding
                        img(src='assets/img/tmp/BOL.png', alt='Mountains').hvrbox-layer_bottom.img-size
                        .hvrbox-layer_top.hvrbox-layer_slideup
                            .hvrbox-text
                                p FinA @ National Bank of Laos
                                p 2010-2011
                .col-lg-3.col-md-4.col-sm-6.padding-top.text-center
                    .hvrbox.client-padding
                        img(src='assets/img/tmp/BankMongolia.png', alt='Mountains').hvrbox-layer_bottom.img-size
                        .hvrbox-layer_top.hvrbox-layer_slideup
                            .hvrbox-text
                                p FinA @ Financial Regulatory Commission of Mongolia
                                p 2010-2011
                .col-lg-3.col-md-4.col-sm-6.padding-top.text-center
                    .hvrbox.client-padding
                        img(src='assets/img/tmp/Congo.jpg', alt='Mountains').hvrbox-layer_bottom.img-size
                        .hvrbox-layer_top.hvrbox-layer_slideup
                            .hvrbox-text
                                p FinA @ Central Bank of Congo
                                p 2008-2009
                .col-lg-3.col-md-4.col-sm-6.padding-top.text-center
                    .hvrbox.client-padding
                        img(src='assets/img/tmp/NBT.png', alt='Mountains').hvrbox-layer_bottom.img-size
                        .hvrbox-layer_top.hvrbox-layer_slideup
                            .hvrbox-text
                                p FinA @ National Bank of Tajikistan
                                p 2007-2009
                .col-lg-3.col-md-4.col-sm-6.padding-top.text-center
                    .hvrbox.client-padding
                        img(src='assets/img/tmp/Rwanda.jpg', alt='Mountains').hvrbox-layer_bottom.img-size
                        .hvrbox-layer_top.hvrbox-layer_slideup
                            .hvrbox-text
                                p FinA @ National Bank of Rwanda
                                p 2007-2008
                .col-lg-3.col-md-4.col-sm-6.padding-top.text-center
                    .hvrbox.client-padding
                        img(src='assets/img/tmp/BankAzerbaijan.png', alt='Mountains').hvrbox-layer_bottom.img-size
                        .hvrbox-layer_top.hvrbox-layer_slideup
                            .hvrbox-text
                                p FinA @ Central Bank of Azerbaijan
                                p 2006-2007
                .col-lg-3.col-md-4.col-sm-6.padding-top.text-center
                    .hvrbox.client-padding
                        img(src='assets/img/tmp/NBKR.PNG', alt='Mountains').hvrbox-layer_bottom.img-size
                        .hvrbox-layer_top.hvrbox-layer_slideup
                            .hvrbox-text
                                p FinA @ National Bank of Kyrgyzstan
                                p 2002-2003



        footer(style="position:absolute; bottom:0; width:100%")
            .container
                .text-center
                    small Copyright © FINA LLC 2018

        include includes/modals/logout.pug

        include includes/js/core.pug

        include includes/js/custom.pug