doctype html
html(lang='en')

    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title FINA BI

        include includes/css/core.pug

        include includes/css/custom.pug

    body
        include includes/navbar.pug

        .container-fluid.pt-5.mt-5
            .row
                .col-8.offset-2
                    table.table.table-bordered
                        thead
                            tr
                                th some
                                th some
                        tbody
                            tr
                                td
                                    a(href="#" style="color:red; text-decoration-line: underline;") some
                                td some
                            tr
                                td
                                    a(href="#" style="color:red; text-decoration-line: underline;") some
                                td some
                            tr
                                td
                                    a(href="#" style="color:red; text-decoration-line: underline;") some
                                td some
        include includes/footer.pug

        include includes/scroll-to-top.pug
        include includes/modals/logout.pug
        include includes/js/core.pug
        include includes/js/custom.pug