doctype html
html(lang='en')

    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title FINA BI

        include includes/css/core.pug

        include includes/css/custom.pug

    body
        include includes/navbar.pug
        #header
            .FN_header-img
            .FN_header-title
                .text-center
                    | FINA Business Analytics
            .FN_header-text.text-justify
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
        h1.section-title.text-center Key Features
        .container-fluid.FN_indexp-bullets
            .row
                .col-12
                .col-lg-4.mt-5
                    .card.h-100
                        .hexagon
                        .vl
                        .circle
                        .hexagon-text
                            i.fa.fa-globe(style="color:white; font-size:25px")
                        div
                            div(style="padding:10px 15px 10px calc(50px + 3vw);")
                                .FN_title Web Based Analysis
                                .text-justify
                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                .col-lg-4.mt-5
                    .card.h-100
                        .hexagon
                        .vl
                        .circle
                        .hexagon-text
                            i.fa.fa-plane(style="color:white; font-size:25px")
                        div
                            div(style="padding:10px 15px 10px calc(50px + 3vw);")
                                .FN_title Analyse Data From Anywhere
                                .text-justify
                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                .col-lg-4.mt-5
                    .card.h-100
                        .hexagon
                        .vl
                        .circle
                        .hexagon-text
                            i.fa.fa-rocket(style="color:white; font-size:25px")
                        div
                            div(style="padding:10px 15px 10px calc(50px + 3vw);")
                                .FN_title Dynamic Visualisations
                                .text-justify
                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                .col-lg-4.mt-5
                    .card.h-100
                        .hexagon
                        .vl
                        .circle
                        .hexagon-text
                            i.fa.fa-line-chart(style="color:white; font-size:25px")
                        div
                            div(style="padding:10px 15px 10px calc(50px + 3vw);")
                                .FN_title Data Analysis
                                .text-justify
                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
        include includes/footer.pug

        include includes/scroll-to-top.pug

        include includes/modals/logout.pug

        include includes/js/core.pug

        include includes/js/custom.pug
        script(type="text/javascript").
            let nav = document.querySelector("#mainNav");

            (function () {
                nav.setAttribute('style', 'background-color:transparent !important;');
            })()

            window.onscroll = function () {
                if (window.pageYOffset < 100) {
                    nav.setAttribute('style', 'background-color:transparent !important;');
                }
                else {
                    nav.setAttribute('style', '');
                }
            }


