doctype html
html(lang='en')

    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title FINA BI

        include includes/css/core.pug

        include includes/css/custom.pug

    body
        include includes/navbar.pug
        #header
            .FN_header-img
            .FN_header-title
                .text-center
                    | FINA Business Analytics
            //.FN_header-text.text-justify
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
        h1.section-title.text-center FINA BI
        .container-fluid#FN_main-component
            .row
                .col-lg-4
                    a(href="about.html")
                        .FN_main-component-item.text-center.pt-5
                            .FN_comp-icon
                                i.fa.fa-info
                            .FN_comp_title About Us
                            .FN_comp_underline
                .col-lg-4
                    a(href="https://drive.google.com/drive/folders/0BxmMbqMff49lYzIyMmI5NTAtMjY4NC00YTRhLWJhYWMtOTE4NWY3OTZkMmJm" target="_blank")
                        .FN_main-component-item.text-center.pt-5
                            .FN_comp-icon
                                i.fa.fa-book
                            .FN_comp_title Docs
                            .FN_comp_underline
                .col-lg-4
                    a(href="#" target="_blank")
                        .FN_main-component-item.text-center.pt-5
                            .FN_comp-icon
                                i.fa.fa-cog
                            .FN_comp_title
                                span Service
                            .FN_comp_underline
                .col-lg-4
                    a(href="https://sourceforge.net/projects/fina/files/FinA-WEB/" target="_blank")
                        .FN_main-component-item.text-center.pt-5
                            .FN_comp-icon
                                i.fa.fa-file-code-o
                            .FN_comp_title
                                .some Code
                            .FN_comp_underline
                .col-lg-4
                    a(href="https://sourceforge.net/projects/fina/" target="_blank")
                        .FN_main-component-item.text-center.pt-5
                            .FN_comp-icon
                                i.fa.fa-file-text
                            .FN_comp_title Wiki
                            .FN_comp_underline
                .col-lg-4
                    a(href="clients.html")
                        .FN_main-component-item.text-center.pt-5
                            .FN_comp-icon
                                i.fa.fa-group
                            .FN_comp_title Clients
                            .FN_comp_underline

        include includes/footer.pug

        //include includes/scroll-to-top.pug

        include includes/modals/logout.pug

        include includes/js/core.pug

        include includes/js/custom.pug
        script(type="text/javascript").
            let nav = document.querySelector("#mainNav");

            (function () {
                nav.setAttribute('style', 'background-color:transparent !important;');
            })()

            window.onscroll = function () {
                if (window.pageYOffset < 100) {
                    nav.setAttribute('style', 'background-color:transparent !important;');
                }
                else {
                    nav.setAttribute('style', '');
                }
            }


