// JQuery
script(src='vendor/jquery/jquery.min.js')

// Bootstrap tooltips
script(src='vendor/mdbootstrap/js/popper.min.js')

// Bootstrap core JavaScript
script(src='vendor/bootstrap/js/bootstrap.bundle.min.js')

// Core plugin JavaScript
script(src='vendor/jquery-easing/jquery.easing.min.js')

//MDB core JavaScript
script(src='vendor/mdbootstrap/js/mdb.js')

//jQuery
script(src='vendor/jquery/jquery.min.js')

//snap.svg
script(src='vendor/snapsvg/snap.svg.js')